# Folder view configuration files
.DS_Store
Desktop.ini

# Thumbnail cache files
._*
Thumbs.db
*.zip

# Files that might appear on external disks
.Spotlight-V100
.Trashes

# Workspace config
*.code-workspace
index.md

# Misc folders
asset
model
core
dataset
archive
content
resource
whiteboard
flow-diagram
