# Automated Source Verification

## Ideal

a tool to verify truth: actors posting thoroughly vetted and unbiased news

much in the same paralleled way a web-crawler can seek passwords on the Internet
that have been publicly acknowledged as insecure and exposed

then notify the end-user to change said password.

a web crawler could seek recently published knowledge on the Internet related to
any one of the sourced publications in the project-base.

if a conflicting match is found, the project team is notified of the conflicting
understandings and the design choice(s) built upon that publication are called
into question for review and revision.

## Function

## Feature

## Scope

## Assumption

## Known Issue

## Known Factor

## Known Dependency

## Known Insight

## Factor to Address

## Quality Attribute

## Functional Requirement

## Non-Functional Requirement

## Challenge

## Tool

**natural language processing** and **machine learning** could provide a working
solution in the automation of referencing and sourcing claims through the
existing decentralized-privatized Internet.

## Methodology

## Solution

Sourced publications are provided as rationale for each design choice made -- to
anyone a replicated understanding

Design Choice 1 reflects Publication A.

Publication B contradicts A and rules A incorrect.

Publication A is archived and Publication B is sourced in the project-base;
invoking a new design choice to be made for Design Choice 1.

Design Choice 1 is archived and Design Choice 2 is sourced in the project-base.

Outcomes are intuitive, quantifiable, foreseeable, and logical.

Publication is a format to store mutable knowledge at a timestamped point in
time.

Once new understandings are discovered, if proven invalid, the dated publication
becomes archived as defected knowledge; no longer holding credibility or value.

## Expected Result

## Actual Result

## New Insight

## New Factor

## New Factor to Address

## New Scope
